name: Build C++

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            name: Linux
          - os: macos-15
            name: macOS-ARM64
          - os: windows-latest
            name: Windows

    runs-on: ${{ matrix.os }}
    name: Build (${{ matrix.name }})

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Configure
      run: cmake -B build -DENABLE_PROTOBUF=ON -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --config Release --parallel 4

    - name: Run Tests
      shell: bash
      run: |
        if [ -f "build/point_minitest" ]; then
          ./build/point_minitest
        elif [ -f "build/Release/point_minitest.exe" ]; then
          ./build/Release/point_minitest.exe
        else
          echo "Tests executable not found!"
          exit 1
        fi
